html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  color: #777;
  font-size: 16px;
  font-family: ubuntu, Helvetica, Arial, sans-serif; }

a {
  color: #265778;
  text-decoration: none;
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }
  a:hover, a:focus {
    text-decoration: underline; }

code {
  color: #f2f2f2;
  background-color: #2d2d2d;
  border-radius: 2px;
  padding: 1px 3px;
  margin: 0 2px; }

pre {
  border-radius: 2px; }

small {
  font-size: 80%; }

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  table tr {
    background-color: #fff;
    border-top: 1px solid #ccc; }
  table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd; }

#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

#layout {
  position: relative;
  left: 0;
  padding-left: 0; }
  #layout.active #menu {
    left: 150px;
    width: 150px; }
  #layout.active .menu-link {
    left: 150px; }
  @media screen and (max-width: 48em) {
    #layout.active {
      left: 150px; } }

@media (min-width: 48em) {
  #layout {
    padding-left: 150px;
    left: 0; }
  #menu {
    left: 150px; }
  .menu-link {
    position: fixed;
    left: 150px;
    display: none; } }

#main {
  margin: 0 40px; }
  @media screen and (max-width: 48em) {
    #main {
      margin: 0 10px; } }

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee; }
  .header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300; }
  .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0; }

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em; }
  @media screen and (max-width: 48em) {
    .content {
      padding: 0 10px; } }

.posts-list ul li {
  padding: 2px 0;
  list-style-type: square; }
  .posts-list ul li span {
    font-style: oblique;
    float: right;
    font-size: 14px; }
    @media screen and (max-width: 48em) {
      .posts-list ul li span {
        display: none; } }

.menu-link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em; }
  .menu-link:hover, .menu-link:focus {
    background: #000; }
  .menu-link span {
    position: relative;
    display: block;
    background-color: #fff;
    width: 100%;
    height: 0.2em; }
    .menu-link span:before, .menu-link span:after {
      background-color: #fff;
      width: 100%;
      height: 0.2em; }
    .menu-link span:before {
      position: absolute;
      margin-top: -0.6em;
      content: " "; }
    .menu-link span:after {
      position: absolute;
      margin-top: -0.6em;
      content: " ";
      margin-top: 0.6em; }

@media (min-width: 58em) {
  #menu {
    left: 150px !important; } }

#menu {
  margin-left: -150px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  #menu .pure-menu-header {
    background: #1f8dd6;
    font-size: 110%;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 110%;
    color: #fff;
    margin: 0;
    padding: .5em 1em; }
  #menu .pure-menu {
    margin-top: 5px; }
    #menu .pure-menu ul.pure-menu-list {
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 0.9em; }
      #menu .pure-menu ul.pure-menu-list .pure-menu-item {
        position: relative;
        padding: 0;
        margin: 0;
        height: 100%; }
        #menu .pure-menu ul.pure-menu-list .pure-menu-item a.pure-menu-link {
          position: relative;
          list-style: none;
          margin: 0;
          color: #999;
          padding: 0.45em; }
          #menu .pure-menu ul.pure-menu-list .pure-menu-item a.pure-menu-link:focus, #menu .pure-menu ul.pure-menu-list .pure-menu-item a.pure-menu-link:hover {
            background-color: #333; }
          #menu .pure-menu ul.pure-menu-list .pure-menu-item a.pure-menu-link i {
            margin-right: 0.2em; }
    #menu .pure-menu .category-list {
      border-top: 1px solid #333; }
  #menu .menu-footer {
    border-top: 1px solid #333; }

.pure-menu-header,
.pure-menu-link {
  display: block;
  white-space: nowrap; }

.small-print {
  font-size: 0.8em;
  margin: 0.6em; }

article .page-header {
  padding-top: 2.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee; }
  article .page-header .page-title {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    font-size: 3em;
    font-weight: 300;
    line-height: normal; }

article .page-content {
  padding-top: 20px; }
  article .page-content a {
    padding: 0 2px; }
  article .page-content img {
    max-width: 100%; }
  article .page-content pre {
    overflow: auto; }
  article .page-content blockquote {
    border-left: 5px solid #999;
    margin: 0;
    padding-left: 1em;
    margin-left: 1em;
    font-style: oblique; }

/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #999999; }

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #f2777a; }

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f99157; }

/* Tomorrow Yellow */
.hljs-attribute {
  color: #ffcc66; }

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #99cc99; }

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #6699cc; }

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #cc99cc; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
