<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{if page.title}}
    {{page.title}} - {{ site.title }}
    {{else if category[0]}}
    分类：{{category[0]}} - {{site.title}}
    {{else}}
    {{site.title}}
    {{/if}}
  </title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
<div id="layout">
  <a href="#menu" id="menuLink" class="menu-link">
    <span></span>
  </a>
  <div id="menu">
    <a class="pure-menu-header" href="{{site.url}}">{{site.title}}</a>
    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/">
            Home</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/about.html">
            </i>About</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/contact.html">
            </i>Contact</a>
        </li>
        <!--
              <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{site.url}}/index.xml">
                  <i class="fa fa-rss fa-fw"></i>RSS</a>
              </li> -->
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="https://github.com/rhatyang" target="_blank">
            </i>GitHub</a>
        </li>
      </ul>
      <ul class="pure-menu-list category-list">
        {{each site.categories}}
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{{site.url}}/blog/{{$value.path}}">{{$value.title}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="menu-footer">
      <div class="small-print copyright">
        © 2018. All rights reserved.
      </div>
      <div class="small-print powered">
        Powered by Node.js. Open Source on
        <a href="https://github.com/rhatyang/cmdtree" target="_blank">Github</a>.
      </div>
      <div class="small-print">
        所以内容根据
        <a href="https://creativecommons.org/licenses/by/4.0/deed.zh" target="_blank">CC BY 4.0</a>
        协议进行开源
      </div>
    </div>
  </div>
  <div id="main">
    {{block 'content'}}
    {{/block}}
  </div>
</div>

<script src="/js/ui.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113894191-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-113894191-1');
</script>

</body>
</html>
