{{extend './layout.html'}}
{{block 'content'}}
<article class="content page" itemscope itemtype="http://schema.org/Blogpageing">
  <div class="page-header">
    <h1 class="page-title">{{page.title}}</h1>
    <div class="page-meta">
      <p><time datetime="{{page.date()}}" itemprop="datePublished">日期：{{page.date('YYYY年MM月DD日')}}</time></p>
      <span class="post-category">分类：{{page.category}}</span>
    </div>
  </div>
  <div class="page-content" itemprop="articleBody">
    {{@ page.content}}
  </div>
</article>
{{/block}}
