<div class="category-list">
  <h3>分类</h3>
  <ul>

    <% site.categories.sort('name').each(function(item){ %>

    <li>
      <a href="<%- url_for(item.path) %>">
        <%= item.name %>
      </a>
      <span>（<%= item.posts.length %>篇）</span>
    </li>

    <% }); %>

  </ul>
</div>
