<footer class="footer">
  <div class="container">
    <div class="copyright">
      Copyright &copy;
      <time datetime="<%= date() %>"><%= date(new Date(), 'YYYY') %></time>
      <%- config.author %> All rights reserved.
    </div>

    <div style="margin-top: 10px;">
      所有文章根据
      <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">创意知识共享4.0许可证</a>进行许可，随意转载保留署名。
    </div>
  </div>
</footer>
