<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <h1 class="navbar-item site-title">
          <a href="<%- config.root %>">
          <img src="/pics/01.png" alt="樊志阳的个人博客" style="margin-top: 17px">
          </a>
        </h1>

        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/blog/atom.xml" target="_blank">
            <i class="iconfont icon-rss" aria-hidden="true"></i>
          </a>
          <a class="navbar-item" href="https://github.com/rhatyang" target="_blank">
            <i class="iconfont icon-github" aria-hidden="true"></i>
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="<%- url_for('/blog/categories/learn/') %>">分类</a>
          <a class="navbar-item" href="<%- url_for('/about/') %>">关于</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="triangle-up"></div>
