<div class="column post-sidebar">
  <div class="sidebar-content" id="sidebar">
    <nav class="header-list-sidebar">
      <ul id="sideNav" class="nav headers-sidenav">
      
      </ul>
    </nav>
  </div>
</div>
