---
---
/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5em 0 0.75em;
    font-weight: bold;
}

blockquote {
    font-size: 1em;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    line-height: 1.6em;
    background-color: #eee;
    text-align: center;
}

a {
    color: #296bcc;
    &:link {
        text-decoration: underline;
    }
    &:visited,
    &:hover,
    &:active {
        color: #296bcc;
    }
}


/*****************************************************************************/


/* Main
/*****************************************************************************/

.main {
    text-align: justify;
    max-width: 856px;
    margin: 0 auto;
    line-height: 1.75em;
    padding: 1em 2em;
    background-color: #fff;
    margin: 1em auto;
}

.header,
.footer {
    font-size: 12px;
    max-width: 856px;
    margin: 0 auto;
    color: #999;
}

.header {
    padding-top: 1em;
    a {
        color: #ccc;
        text-decoration: none;
    }
}

.footer a {
    text-decoration: none;
}

.header a:hover {
    color: #999;
}

.title {
    display: inline-block;
    font-size: 1em;
    a {
        color: #999;
    }
}

.header a.extra:hover {
    text-decoration: underline;
}

div#home {
    padding-top: 1em;
}

.index_recent {
    font-size: 16px;
    font-weight: bold;
}

.posts {
    .index_more a {
        color: #296bcc;
    }
    list-style-type: square;
    margin-top: 1em;
    li {
        line-height: 2em;
        padding: 2px 0;
        margin-bottom: -1px;
        overflow: hidden;
    }
    span.post_date {
        color: #aaa;
        font-family: "Courier New", monospace;
        float: right;
        font-size: 0.9em;
    }
    a {
        color: rgb(46, 65, 92);
        &:link,
        &:visited {
            text-decoration: none;
        }
    }
}


/*****************************************************************************/


/* Posts
/*****************************************************************************/

#pagetitle {
    color: rgb(46, 65, 92);
    border-bottom: 1px solid #ddd;
    margin: 1em 0 2em 0;
    padding-bottom: 1em;
    .page_title {
        max-width: 75%;
        display: inline-block;
    }
    .page_meta {
        float: right;
    }
    h1 {
        display: inline;
        word-break: break-all;
    }
    .meta {
        color: #ccc;
    }
    h1 {
        font-size: 1.6em;
        font-weight: 500;
    }
}

.post p {
    word-break: break-all;
}


/* standard */

pre code {
    font-size: 1em;
    padding: 0px;
    top: 0px;
}

code {
    color: rgb(46, 65, 92);
    background-color: #f9f9f9;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
}

pre {
    color: rgb(46, 65, 92);
    background-color: #f9f9f9;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: .9em;
    padding: 16px 16px 14px 16px;
    white-space: pre-wrap;
}

code {
    padding-left: 5px;
    padding-right: 5px;
    font-size: .9em;
    position: relative;
    top: -1px;
    color: #666;
}

.post {
    pre {
        overflow: auto;
        margin: 1em 0;
        white-space: pre-wrap;
        /* CSS 3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
        border: unset;
    }
    ul,
    ol {
        margin-left: 1.3em;
        margin-bottom: 1em;
    }
    h1 {
        font-size: 1.6em;
        line-height: 1em;
        margin-bottom: 0.66em;
    }
    p {
        margin-bottom: 20px;
        img {
        max-width: 100%;
        display: block;
        }
    }

}