<a href="#menu" id="menuLink" class="menu-link">
  <span></span>
</a>
<div id="menu">
  <a class="pure-menu-header" href="{{site.url}}">{{site.title}}</a>

  <div class="pure-menu">
    <ul class="pure-menu-list">

      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/">
          Home</a>
      </li>

      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/about.html">
          </i>About</a>
      </li>

      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/contact.html">
          </i>Contact</a>
      </li>
<!-- 
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="{{site.url}}/index.xml">
          <i class="fa fa-rss fa-fw"></i>RSS</a>
      </li> -->

      <li class="pure-menu-item">
        <a class="pure-menu-link" href="https://github.com/rhatyang" target="_blank">
          </i>GitHub</a>
      </li>

    </ul>

    <ul class="pure-menu-list category-list">
      {{each site.categories}}
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="{{site.url}}/blog/{{$value.path}}">{{$value.title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="menu-footer">
    <div class="small-print copyright">
      <small>© 2018. All rights reserved.</small>
    </div>
    <div class="small-print powered">
      Powered by Node.js. Open Source on
      <a href="https://github.com/rhatyang/blog" target="_blank">Github</a>.
    </div>
  </div>

</div>
