.categories-title {
  font-size: 2em;
  margin-bottom: 1.5rem;
}

.categories-item-title {
  font-size: 1.25em;
}

.archive-cloud a {
  margin: 5px;
  padding: 5px 10px;
}

.archive-posts-list {
  .fa {
    color: #5bc0de;
    font-size: 20px;
    padding: 10px 0px;
  }
  .title {
    color: #5bc0de;
  }
  .posts-list {
    list-style-type: circle;
    li {
      margin: 5px;
      border-bottom: 1px dashed #ccc;
      margin: 10px;
      padding-bottom: 0.3em;
      a {
        text-decoration: none;
        color: #404040;
        font-size: 16px;
        &:hover,
        &:focus {
          color: #FFA500;
        }
        .post-date {
          color: #9a9a9a;
          margin-right: 5px;
          float: right;
        }
      }
    }
  }
}
