/*---------------------- tags & categories ------------------------*/

.archive-cloud a {
    background-color: rgba(106, 159, 181, 0.15);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    color: #6a9fb5;
    &:hover,
    &:focus {
        background-color: #008080;
        color: #fff;
        opacity: 0.7;
    }
}

.archive-posts-list {
    .fa {
        color: #5bc0de;
        font-size: 20px;
        padding: 10px 0px;
    }
    .text {
        font-size: 26px;
        margin-left: 5px;
    }
    ul {
        list-style-type: circle;
        margin: 10px 0;
    }
    li {
        margin: 5px;
        border-bottom: 1px dashed #ccc;
        margin: 10px;
        padding-bottom: 0.3em;
    }
    .posts-list a {
        text-decoration: none;
        color: #404040;
        font-size: 16px;
        &:hover,
        &:focus {
            color: #FFA500;
        }
    }
    .post-date {
        color: #9a9a9a;
        margin-right: 5px;
        float: right;
    }
}