.menu {
  padding: 0 20px 20px;
  .menu-label {
    padding-left: 6px;
    border-left: 3px solid #cf2730;
    margin-bottom: 20px;
    color: #333;
  }
  .menu-list {
    .menu-list-item {
      margin-bottom: 15px;
      a {
        color: #757a7e;
        &:hover {
          color: red;
        }
      }
    }
  }
}
