/*---------------------- post-sidebar ------------------------*/

.post-sidebar {
  margin-left: 50px;
  .sidebar-content {
    .header-list-sidebar {
      ul {
        margin: 0;
        list-style-type: none;
      }
      .headers-sidenav {
        padding: 20px 10px;
        padding-left: 0px;
        border: 1px solid #EAEAEA;
        width: 250px;
      }
      .nav {
        > {
          li>a {
            display: block;
            padding: 2px 20px;
            font-weight: bold;
            color: #767676;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: normal;
            &:hover,
            &:focus {
              color: #87CEFA;
              text-decoration: none;
              background-color: transparent;
              border-left: 2px solid #87CEFA;
            }
          }
          .active {
            >a,
            &:hover>a,
            &:focus>a {
              font-weight: bold;
              color: #5bc0de;
              border-left: 2px solid #5bc0de;
            }
          }
        }
        .nav {
          >li>a {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 35px;
          }
          .nav>li>a {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 50px;
          }
        }
      }
    }
  }
}
