<header class="header">
	
	<nav class="navbar">
		<div class="container">

			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					{{ site.title }}
				</a>
				<div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<div class="navbar-menu">
				<div class="navbar-end">
					<a class="navbar-item" href="/archives/">归档</a>
					<a class="navbar-item" href="/categories/">分类</a>
					<a class="navbar-item" href="/about/">关于</a>
				</div>
			</div>
		</div>
	</nav>
</header>