<ul class="container" id="archive-nav">
    <li>
        <a href="{{ site.url }}/archive/">
            <i class="iconfont icon-archive"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/learn/">
            <i class="iconfont icon-xuexi2"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/lifetime/">
            <i class="iconfont icon-idea"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/javascript/">
            <i class="iconfont icon-tubiaozhizuomoban-----"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/use/">
            <i class="iconfont icon-shiyong"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/network/">
            <i class="iconfont icon-wangluo-"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/history/">
            <i class="iconfont icon-lishi"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/linux/">
            <i class="iconfont icon-c_Linux"></i>
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/blog/feed.xml" target="_blank">
            <i class="iconfont icon-rss"></i>
        </a>
    </li>
</ul>