<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <h1 class="navbar-item site-title">
          <a href="{{ site.url }}">{{ site.title }}</a>
        </h1>

        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ site.url }}/blog/atom.xml" target="_blank">
            <span class="icon">
              <i class="fa fa-lg fa-rss" aria-hidden="true"></i>
            </span>
          </a>
          <a class="navbar-item" href="https://github.com/rhatyang" target="_blank">
            <span class="icon">
              <i class="fa fa-lg fa-github" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="/category/learn/">分类</a>
          <a class="navbar-item" href="/about/">关于</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="triangle-up"></div>
