<div class="sidebar">
    <div class="author">
        <img src="/assets/author.jpg">
        <h2>
            <a href="{{ site.url }}"></a>ZhiYang</h2>
        <p>{{ site.description }}</p>
    </div>
    <ul>
        <li>
            <a href="mailto:{{ site.email }}" target="_blank" rel="noopener">
                <i class="iconfont icon-youxiang"></i> Email</a>
        </li>
        <li>
            <a href="https://github.com/rhatyang" target="_blank" rel="noopener">
                <i class="iconfont icon-github"></i> Github</a>
        </li>
        <li>
            <a href="http://instagram.com/fanzhiyang2001" target="_blank" rel="noopener">
                <i class="iconfont icon-instagram"></i> Instagram</a>
        </li>
        <li>
            <a href="{{ site.url }}/about/">
                <i class="iconfont icon-personal-center"></i> About Me</a>
        </li>
    </ul>
</div>