<div class="sidebar">
    <div class="author">
        <img src="/assets/author.jpg">
        <h2>
            <a href="{{ site.url }}"></a>ZhiYang</h2>
        <p>{{ site.description }}</p>
    </div>
    <ul>
        <li>
            <a href="mailto:{{ site.email }}" target="_blank" rel="noopener">
                <i class="fa fa-fw fa-envelope-square"></i> Email</a>
        </li>
        <li>
            <a href="https://github.com/rhatyang" target="_blank" rel="noopener">
                <i class="fa fa-fw fa-github"></i> Github</a>
        </li>
        <li>
            <a href="http://instagram.com/fanzhiyang2001" target="_blank" rel="noopener">
                <i class="fa fa-fw fa-instagram"></i> Instagram</a>
        </li>
        <li>
            <a href="https://twitter.com/" target="_blank" rel="noopener">
                <i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
        </li>
        <li>
            <a href="https://plus.google.com/" target="_blank" rel="noopener">
                <i class="fa fa-fw fa-google-plus-square"></i> Google+</a>
        </li>
        <li>
            <a href="{{ site.url }}/about/">
                <i class="fa fa-fw fa-user"></i> About Me</a>
        </li>
    </ul>
</div>