* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5em 0 0.75em;
    font-weight: 500;
}

blockquote {
    font-size: 1em;
    margin-left: 20px;
    font-style: italic;
}

html {
    height: 100%;
}

body {
    height: 100%;
    line-height: 1.6em;
    background-color: #eee;
    text-align: center;
}

a {
    padding: 0 3px;
    color: #296bcc;
}

code {
    background-color: #FFEC8B;
	border-radius: 8px;
    font-size: 1em;
	font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	display: inline-block;
	padding: 0 5px;
	margin: 0 2px;
}

pre {
    background-color: #f6f6f6;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 1em;
    padding: 16px 16px 14px 16px;
	line-height: 1.5em;
	margin: 1em 0;
	overflow: hidden;
	code {
		font-size: 1em;
		padding: 0px;
		top: 0px;
		background-color: #f6f6f6;
	}
}