footer {
    padding-bottom: 3em;
    background: #000;
    * {
        color: #fff!important;
    }
    .footer-inner {
        padding-top: 20px;
        .copyright {
            font-size: 1.5rem;
        }
    }
}
