header {
    .top {
      background: #000;
      color: #fff;
      text-align: center;
      margin-bottom: 2em;
    }
    .nav {
      padding: 2em 0 1em;
      .icon-homebig {
        position: absolute;
        left: 15.25%;
        display: inline;
      }
      ul {
        overflow: hidden;
        li {
          float: left;
          padding-right: 35px;
        }
      }
    }
    @media screen and (max-width: 800px ){
      display: none;
    }
  }

#archive-nav {
  width: 50%;
}