#nav {
	background: rgb(41, 43, 44);
	overflow: hidden;
	.nav-inner {
		width: 95%;
		margin: 0 auto;
	}
	.nav-title { 
		font-size: 1.5em;
		color: #fff;
		font-weight: 300;
		float: left;
		margin: 0;
		padding-left: 152px;
		padding-top: 10px;
		@media screen and (max-width:800px) {
			font-size: 1em;
			padding: 0;
		}
	}
	.extra-nav {
		color: #fff;
		float: left;
		margin-left: 8px;
		@media screen and (min-width: 800px){
			display: none;
		}
	}
	ul.menu {
		float: right;
		padding-right: 50px;
		li {
			float: left;
			list-style: none;
			padding: 10px;
		}
		@media screen and (max-width:800px){
			display: none;
		}
	}
    a {
        color: #fff;
        text-decoration: none;
	}
	@media screen and (max-width:800px){
		padding: 7px;
	}
}

#container {
	width: 85%;
	max-width: 1260px;
	margin: 0 auto;
	@media screen and (max-width: 800px){
		width: 90%;
	}
}

.main {
    text-align: justify;
    max-width: 856px;
    margin: 0 auto;
    line-height: 1.75em;
    padding: 1em 2em;
    background-color: #fff;
	margin: 1em auto;
	@media screen and (max-width: 800px){
		padding: 0.5em 1em;
	}
}

.posts-list {
	list-style-type: square;
	margin-top: 1em;
	a {
        color: rgb(46, 65, 92);
        &:link,
        &:visited {
            text-decoration: none;
        }
    }
    li {
        line-height: 2em;
        padding: 2px 0;
        margin-bottom: -1px;
        overflow: hidden;
    }
    .post_date {
        color: #999;
		float: right;
		font-size: 80%;
		@media screen and (max-width:800px){
			display: none;
		}
	}
	.index_more a {
        color: #296bcc;
	}
}

// footer


.footer {
	color: #999;
	margin-bottom: 40px;
	a {
		text-decoration: none;
	}
}