.fa {
  color: #000;
}

.container {
  width: 50%;
  margin: 0 auto;
  @media screen and ( max-width: 800px ){
    width: 92%;
  }
}

.main {
  padding-bottom: 3em;
  overflow: hidden;
  .container {
    @media screen and (min-width: 800px) {
      display: inline-block;
    }
  }
}

.post-list {
  h3 {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: .5em;
  }
  ul {
    li {
      h2 {
        margin-bottom: 4px;
        font-size: 1.25em;
      }
      .post-info {
        margin: 0;
      }
      .post-excerpt {
        font-size: 15px;
        margin: 0 0 26px;
      }
    }
  }
  @media screen and (max-width:800px) {
    margin-left: 20px;
  }
}

.archive {
  ul {
    li {
      list-style: disc;
      margin-bottom: 5px;
      h2 {
        display: inline;
      }
    }
  }
}

.iconfont {
  width: 188%;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

.post-date {
  font-size: 14px;
}

.top {
  text-align: center;
  background: #000;
  color: #fff;
}

.github-corner {
  svg {
    fill: #151513;
    color: #fff;
    position: absolute;
    top: 29px;
    border: 0;
    right: 0;
    width: 80px;
    height: 80px;
  }
}