@import "my/post",
		"my/sidebar",
		"my/sidebar_main",
		"my/sidebar_post",
		"my/sidebar_listgroup",
		"my/archives",
		"my/back_to_top",
		"my/home";

/*---------------------- main ------------------------*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 40px;
}

p {
    color: #515151;
}

strong {
    font-weight: bolder;
}

blockquote {
	font-size: 1.1em;
}

img {
	max-width: 100%;
}
