#post-header {
    color: rgb(46, 65, 92);
    border-bottom: 1px solid #ddd;
    margin: 1em 0 2em 0;
	padding-bottom: 1em;
    .post-title {
		margin: 0 0 5px 0;
		word-break: break-all;
		font-size: 1.6em;
        font-weight: 500;
	}
	.post_meta {
        float: right;
    }
}

#post-content {
    pre {
        overflow: auto;
        margin: 1em 0;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        border: unset;
    }
    ul,
    ol {
        margin-left: 2.3em;
        margin-bottom: 1em;
    }
    p {
		margin-bottom: 20px;
		word-break: break-all;
        img {
            max-width: 100%;
            display: block;
        }
	}
	h1,h2 {
		border-bottom: 1px solid #eee;
		padding-bottom: 10px;
	}
}