html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #777;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif
}

a {
  color: #265778;
  text-decoration: none;
  background-color: transparent;
  &:active,
  &:hover {
    outline: 0;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

code {
  background: #2d2d2d;
  padding: 2px;
  margin: 0 3px;
  color: #fff;
}

pre {
  border-radius: 2px;
}

small {
  font-size: 80%;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  th,td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
}
