html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #777;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif
}

a {
  color: #265778;
  text-decoration: none;
  background-color: transparent;
  &:active,
  &:hover {
    outline: 0;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

small {
  font-size: 80%;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}
