.home {
  margin: 0 20px;
  h3 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
  }
  .posts-list {
    li {
      padding: 2px 0;
      list-style-type: none;
      a {
        font-size: 1.5em;
      }
      span {
        font-style: oblique;
      }
    }
  }
}
