.category
  .category-title
    font-size: 1.75em
    border-bottom: 1px solid #d3d3d3
    padding-bottom: 0.2em
    margin-bottom: 1.2em
  ul
    margin-left: 50px
    @media screen and (max-width 769px)
      margin-left: 20px
    li
      list-style-type: square
      padding-bottom: 2px
      .post-date
        color: #9a9a9a
      a
        color: #000
        text-decoration: underline
        &:hover
          color: red
.category-aside
  .category-list
    padding: 20px
    border: 1px solid #EAEAEA
    box-shadow: 1px 2px 3px #ddd
    background-color: #F5F5BF
    h3
      border-bottom: 1px solid #EAEAEA
      padding-bottom: 5px
      margin-bottom: 15px
      font-weight: 500
      font-size: 1.12em
    ul
      margin-left: 25px
      li
        padding-bottom: 5px
        font-size: 1rem
        list-style-type: disc
        a
          color: #000
          text-decoration: underline
        span
          font-size: 15px
