.page-nav
  background: #fff
  -webkit-box-shadow: 1px 2px 3px #ddd
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid #ddd
  border-radius: 3px
  text-align: center
  color: #999
  overflow: hidden
  font-size: 14px
  a, span
    position: relative
    float: left
    padding: 6px 12px
    text-decoration: none
    color: #999
    margin-left: -1px
    line-height: 1.7em
    &:hover
      background: #999
      color: #fff
  .current
    color: #555
    font-weight: bold
