.post-title {
  font-weight: bolder;
  a {
    color: #404040;
    &:hover,
    &:focus {
      color: #337ab7;
    }
  }
}

.post-info {
  margin: 10px 0;
  .post-date {
    color: #777;
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
  }
  .post-category {
    display: inline;
    background-color: rgba(106, 159, 181, 0.15);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    .fa {
      color: #6a9fb5;
    }
    a {
      color: #6a9fb5;
      padding: 0 3px;
    }
  }
}

.post .post-info {
  margin-bottom: -10px;
}

.related {
  margin-bottom: 30px;
  h3 {
    font-size: 1.5em;
  }
  .related-posts {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 0.5em;
    li {
      a {
        font-size: 1rem;
        time {
          color: gray;
        }
      }
    }
  }
}

.post-pagination {
  margin-bottom: 100px;
  margin-top: 40px;
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
  a {
    border: 1px solid #EAEAEA;
    background-color: #48D1CC;
    color: #ffffff;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }
}

pre.highlight {
  margin-bottom: 1em;
}
