<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.index_title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="/favicon.jpeg">
</head>

<body>

	<div class="header">
		<span class="title">
			<a href="/">HOME</a>
		</span>
		&#47;&nbsp;
		<a class="extra" href="/about/">ABOUT</a>
		&#47;&nbsp;
		<a class="extra" href="/feed.xml" target="_blank">RSS</a>
	</div>

	<div class="main">

		{{ content }}

	</div>

	<div class="footer">
		<p>© 2017 Fan Zhiyang
		</p>
	</div>
</body>

</html>