<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.index_title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="/favicon.jpeg">
</head>

<body>

	<div class="header">
		<span class="title">
			<a href="/">HOME</a>
		</span>
		&#47;&nbsp;
		<a class="extra" href="/about/">ABOUT</a>
		&#47;&nbsp;
		<a class="extra" href="/blog/atom.xml" target="_blank">RSS</a>
		&#47;&nbsp;
		<a href="https://dazai.fanzhiyang.com/" target="_blank">DazaiQuotes</a>
	</div>

	<div class="main">

		{{ content }}

	</div>

	<div class="footer">
		<p>© 2017 Fan Zhiyang</p>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
			<img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
		</a>
		<br />本作品采用
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">知识共享署名 4.0 国际许可协议</a>进行许可。
		<p>This site is open source on <a href="https://github.com/rhatyang/blog" target="_blank">Github</a></p>
	</div>
</body>

</html>