<!doctype html>
<html>
{% include head.html %}
<body>
        <div class="top">
                Life is too short. Don't do what you don't like to do
        </div>
{% include header.html %}
{% include github-corners.html %}
{% if page.layout == "home" %}
<div class="home-banner">
        <img src="/assets/bg.jpg">
    </div>
{% endif %}
<div class="main">

{{ content }}
{% include sidebar.html %}
</div>
{% include footer.html %}
<script type="text/javascript">
	(function(){
    var oTop = document.getElementsByClassName("top")[0];
    if (document.body.offsetWidth < 800 ) {
        oTop.innerHTML = "建议使用电脑浏览，以获得更佳体验";
    }
    document.getElementsByTagName("svg")[0].style.top = oTop.offsetHeight +"px";
})();
</script>
</body>
</html>